.left{
    float:left;
}
.right{
    float:right;
}
header{
    font-size:20px;
    font-family:fantasy;
    text-align:center;
}
main{
    font-family:fantasy;
    font-size:25px;
}
footer{
    color:black; 
    font-family:fantasy;
    font-size:21px;
}
body{
    background-color:rgb(220, 210, 141);
}
img{
    border-style:double;
}
#intro{
    font-size:30px;
    text-align:center;
}

button{
    text-decoration:none;
    background-color: rgb(42, 108, 173);
    color:beige;
    font-size:14px;
    
}

.media{
    margin-left: ;
    margin-right: ;
    align-items: ;
    margin-top: ;
    border: ;
    width: ;
    height: ;

}
