body {
    background-color: lightblue;
    text-align: center;
    font-family: fantasy;
}

input {
    background-color: beige;
    color: blue;
    border-style: dashed;
    font-style: italic;
    
}


